*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --hue: 300;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 30%);
    /* --background-color-oposite: hsl(calc(var(--hue) + 180), var(--saturation), 30%); */
}

body {
    margin: 0;
    background-color: var(--background-color);
    /* background: linear-gradient(to left, var(--background-color), var(--background-color-oposite)); */
    overflow: hidden;
}

.paddle {
    --position: 50;
    position: absolute;
    background-color: var(--foreground-color);
    width: 1vh;
    height: 10vh;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    transform: translate(-50%, -50%);
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
}

.score > :first-child {
    text-align: right;
    box-shadow: .35vh 0 0 0 var(--foreground-color);
}